@tailwind base;
@tailwind components;
@tailwind utilities;

html{
scroll-behavior: smooth;
}

body{
    background: white;
    /* background: linear-gradient(90deg, rgba(217,235,255,1) 0%, rgba(242,249,255,1) 35%, rgba(250,254,255,1) 100%); */

}
.background{
    background-image: linear-gradient(180deg, rgba(217,235,255,1) 0%, rgba(242,249,255,1) 35%, rgba(250,254,255,1) 100%);
}
.background-img{
    
    background-image: url("./assets/background-img.png"),linear-gradient(180deg, rgba(217,235,255,1) 0%, rgba(242,249,255,1) 35%, rgba(250,254,255,1) 100%);
    /* padding-left:20%;
    padding-right: 20%; */
    margin: 0;
}
.background-img1{
    
    background-image: url("./assets/background-img.png"), linear-gradient(90deg, rgba(182,218,255,1) 0%, rgba(229,247,253,1) 100%);
    /* padding-left:20%;
    padding-right: 20%; */
    margin: 0;
  
}
@layer components{
    /* Hover states */
    .gradient-hover{
        background: rgb(217,235,255);
        background: linear-gradient(90deg, rgba(217,235,255,1) 0%, rgba(242,249,255,1) 35%, rgba(250,254,255,1) 100%);
        border-left:3px solid black;
    }
    .gradient-hover1{
        background: rgb(217,235,255);
        background: linear-gradient(90deg, rgba(217,235,255,1) 0%, rgba(242,249,255,1) 35%, rgba(250,254,255,1) 100%);
        border-left:3px solid black;
    }
    .gradient-1{
        background: rgb(217,235,255);
        background: linear-gradient(0deg, rgba(217,235,255,1) 0%, rgba(242,249,255,1) 35%, rgba(250,254,255,1) 100%);
        border-left:3px solid black;
    }
    .gradient-1{
        background: rgb(217,235,255);
        background: linear-gradient(0deg, rgba(217,235,255,1) 0%, rgba(242,249,255,1) 35%, rgba(250,254,255,1) 100%);
        border-left:3px solid black;
    }
    .gradient-2{
        background: rgb(217,235,255);
        background: linear-gradient(270deg, rgba(217,235,255,1) 0%, rgba(242,249,255,1) 35%, rgba(250,254,255,1) 100%);
        border-left:3px solid black;
    }
    .gradient-hover h1{
    color:#037AF8;
    }
    .gradient-hover h3{
    color:black;
    }
    .gradient-hover1 button{
        background-color: #BFDBFE;
        color: #037AF8;
        border-color: #037AF8;
    }
}
